<div class="row">
  <div class="col-12">
      <h1>Featured Post</h1>
      <h1>Header Slideshow</h1>
      <h1>Submissions</h1>
  </div>


</div>
<div class="row">
  <div class="col-12">
    <canvas id="myChart"></canvas>
  </div>
</div>
