<h1>Edit Post</h1>

<form action="/admin/posts/edit/{{post.id}}?_method=PUT" method="post">
<!-- What is the post title? -->
  <div class="form-group">
    <label for="title">Title</label>
    <input name="title" type="text" class="form-control" id="title" value="{{post.title}}">
  </div>

<!-- Status of post, visibility. -->


  <div class="form-group">
    <label for="status">Status</label>
    <select class="form-control" name="status" id="status">
  {{#select post.status}}
      <option value="public">Public</option>
      <option value="private">Private</option>
      <option value="draft">Draft</option>
  {{/select}}
    </select>
  </div>
<!-- Will commoents be allowed on this post? -->
  <div class="form-check">
    <label for="allowComments" class="form-check-label">
    <input name="allowComments" type="checkbox" {{#if post.allowComments}} checked="checked" {{/if}} class="form-check-input" id="allowComments">
        Allow Comments
    </label>
  </div>
<!-- Post body/description. -->
  <div class="form-group">
    <label for="body">Description</label>
    <textarea name="body" class="form-control" cols="30" rows="10" id="body">{{post.body}}</textarea>
  </div>
<!-- Submit post button. -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
